
body{
    margin: 0px;
}


/* -------------------
top section design
---------------------  */

.section-head{
    display: flex;
    height: 646px;
    width: 1321px;
    margin-top: 50px;
    margin-left: 100px;
    position: absolute;
    border-radius: 30px;
    background-color: #161616;
    
}

.div-head{
    position: absolute;
    color: white;
    width: 531px;
    height: 424px;
    margin-left: 200px;
    margin-top: 100px;
}

.head-1{
    
    width: 531px;
    height: 240px;
    left: 246px;
    top: 161px;
    font-weight: 700px;
    font-size: 70px;
    line-height: 80px;
}
p{
    margin-top: -30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.button-1{
    
   
    padding: 16px 25px;
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    color: white;
    text-align: center;
    border: 0;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}
.img-1{
    position: absolute;
    width: 584px;
    height: 600px;
    margin-left: 710px;
    margin-top: 46px;
    
    
}
    
   
/* ----------------------
 top section design end
 ---------------------  */



/* -------------------
2nd section start
--------------------  */
.section-2{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 312px;
    height: 312px;
    margin-top: 826px;
    background: #161616;
    border-radius: 10px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    
   
    
    
    

    
    
}
.button-div{
    
    width: 252px;
    height: 252px;
    margin-bottom: 30px;
    
    
  
}
.button-2{
    width: 250px;
    height: 56px;
    border-radius: 5px;
    text-align: center;
    border: 0;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    
    
}
.button-3{
    width: 250px;
    height: 56px;
    border-radius: 5px;
    text-align: center;
    border: 0;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    
}
.button-4{
    width: 250px;
    height: 56px;
    border-radius: 5px;
    text-align: center;
    border: 0;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    background-color: #DD0000;
    color: #FFFFFF;
    
    
}

/*-------------------- 
2nd section end 
-------------------- */

/*----------------
3rd section start
 ---------------  */

.section-3{
   position: absolute;
    margin-left: 440px;
    margin-top: 826px;
    
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* blog style  */
.blog{
    width: 312px;
    height: 362px;
    border: 1px solid rgb(240, 233, 233);
    border-radius: 10px 10px 0 0;
    
}

.blog .thumbnail img{
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}
.button-5{
    width: 100px;
    height: 32px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(240, 221, 196);
    margin: 10px;
}

.title-1{
    margin-left: 10px;
}

.icon{
    margin-left: 10px;
    display: flex;
}

.para{
    margin-left: 40px;
    color: #a49e9e;
}
.icon-img{
    margin-left: 10px;
}

/* ----------------
3rd section end
----------------- */

/* --------------
Final section
--------------  */

footer{
    display: flex;
    position: absolute;
    width: 100%;
    height: 300px;
    color: #FFFFFF;
    background-color: #161616;
    margin-top: 2200px;
    justify-content: center;
    
}

footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1200px;
    height: 0;
    margin-right: 60px;
    margin-top: 80px;
    
   
}

footer h1{
    position: absolute;
    justify-content: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

footer div{
    display: flex;
    position: absolute;
    margin-top: 50px;
    margin-left: 29%;
    column-gap: 30px;
    
    
}

 .fp{
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



